.heading-txt
    color:black !important;

.project-risk
    margin-top: 22px;
    .question
        font-weight:bold
    .answer
        font-size:14px
        .theme--light.v-icon
            color:#AFAFAF
        label.v-label.theme--light
            color:black
            font-size: 14px;        
            
    .v-input--radio-group--row
        .v-radio
            display: grid;
            min-width:90px
            .v-input .v-label 
                line-height: 28px;
        .answer.theme--light:first-child
            margin:auto;

        .v-input--selection-controls__input
            margin:auto;
            
        label.v-label.theme--light
            margin:auto;


.project-risk-anaysis
    .question-text
        margin-bottom: 10px;
        ul
            font-weight: normal;
            margin-top: 10px;
            li
                list-style-type: disc
                list-style-position: outside
                list-style-image: none
    .edit-link,.edit-link:focus:before, .edit-link:before
        background: none!important;
        border: none;
        padding: 0!important;
        font-family: arial, sans-serif;
        color: #069;
        text-decoration: underline;
        cursor: pointer;
        box-shadow: none !important;
        float: right;
        margin-top: -30px;
         
    .edit-btn
        float: right;
        margin-top: -55px;
        margin-bottom: 34px;
    ul.v-expansion-panel.theme--light
        border: none;
        box-shadow: none;
    width: 100%;
    li.v-expansion-panel__container.v-expansion-panel__container
        border: 1px solid #ccc;
        margin-bottom: 30px;

    .v-expansion-panel__header
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
        
        .panel-header
            font-weight: bolder
            font-size: 17px

    .v-card__text
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        .risk-analysis
            padding-left: 0px !important;
            padding-right: 0px;
            margin-left: 0px;
            margin-right: 0px;
            padding-top: 0px;
            margin-top: 0px;
            > div
                padding-top: 16px;
                padding-bottom: 16px;
                padding-left: 20px;
                padding-right: 20px;

        > div:nth-child(even)
            background-color:#FAFAFA
