@import '../../../theme/colors'

.project-form
    width:100%;
    .contacts
        .container-custom
            margin: 20px

    .v-tabs .v-tabs__wrapper .v-tabs__container .v-tabs__div .v-tabs__item
        padding-left: 25px;
        padding-right: 25px;
    .v-input.search-bar.v-text-field.v-text-field--single-line.v-input--hide-details.theme--light > .v-input__control > .v-input__slot:before
          color: rgba(0,0,0,0.25) !important
    .search-bar
        padding-right: 34px !important;
        padding-left: 28px;
        padding-top: 0px;
        .v-input__slot
            padding-left: 0px;
        .v-label
            color: rgba(0,0,0,0.54);
        i.v-icon.material-icons.theme--light
            color: rgba(0,0,0,0.54);
        .v-input__control > .v-input__slot:before
            color: rgba(0,0,0,0.25) !important

    .main-note
        float:left;
        margin-left:3%;
        text-align: justify;
        padding-right: 30px;
    .reply-person
        float:left;
        margin-left:10%;
        text-align: justify;
        padding-right: 30px;
        font-weight:bold;
    .reply-note-time
        font-weight:bold;
        float: left;
        font-size: smaller;
    .reply-note
        float:left;
        margin-left:10%;
        text-align: justify;
        padding-right: 30px;   
    .note-div
        padding:5px;
        border-top-style: ridge; 
    .v-tabs
        .v-tabs__wrapper
            height: 75px
            .v-tabs__slider-wrapper
                display none !important
            .v-tabs__container
                height : 35px
                margin: 20px;
                .v-tabs__item--active
                    position: static
                    background-color: $primary
                    color: white
                .v-tabs__div
                    :first-child
                        border-radius: 2px 0px 0px 2px;
                    :last-child
                        border-radius: 0px 2px 2px 0px;
                    text-transform: none !important
                    border: 1px solid #E2E2E2
                    box-shadow: 0px 2px 2px #e2e2e26e
                    font-weight: 700
                    color: black;
                    .v-tabs__item
                        font-size: 14px
    .title-container
        display: flex
        .title
            margin-left: 20px
            font-size: 25px !important
            font-weight: inherit

    .save-rfx-btn
        margin-top: -113px !important;
        margin-right: 22px !important;

.rfx-summary-panel
    border-bottom: 1px solid #ccc;
    .v-expansion-panel__header
        border: none;
        padding-top: 21px;
    .edit-rfx-btn
        margin: 0px 1rem;
    .v-card
        .v-card__text
            padding-top: 0px;

