.intake-base-info
    .v-input--radio-group--row .v-radio
        display: flex !important;
        min-width: auto !important;

.required label::after 
    content: " *"
    color: red
  .body-1
   font-size:13px !important;
          
.body-2 
    text-align: none
    font-weight:bold
@media screen and (max-width: 960px)
    .body-2 
        text-align: end


        