.v-form 
     .container 
        .layout 
           .flex
               .v-card 
                   margin-bottom: 5%;
                   padding-top:8px;
                   .sub-header-large
                       padding-left: 0