.review-submit    
    li.v-expansion-panel__container.v-expansion-panel__container
        border: 1px solid #ccc;
        margin-bottom: 30px;

    .v-expansion-panel__header
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
        
        .panel-header
            font-weight: bolder
            font-size: 17px

    .v-card__text.pl-4
        padding-left: 0px !important;
        padding-right: 0px !important;
        .question-text
            margin-bottom: 10px;
            ul
                font-weight: normal;
                margin-top: 10px;
                li
                    list-style-type: disc;
                    list-style-position: outside;
                    list-style-image: none;
        
        .edit-link,.edit-link:focus:before
            background: none!important;
            border: none;
            padding: 0!important;
            font-family: arial, sans-serif;
            color: #069;
            text-decoration: underline;
            cursor: pointer;
            box-shadow: none !important;
            float: right;
            margin-top: 0px;
        
        > div
            padding-top: 17px;
            padding-bottom: 12px;
            padding-left: 20px;
            padding-right: 20px;

        > div:nth-child(even)
            background-color:#FAFAFA
        .contacts        
           background-color:transparent !important
           padding-left: 0px;
           padding-right: 0px;
           h3
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 20px;
            padding-right: 20px;
           > div
                padding-top: 17px;
                padding-bottom: 12px;
                padding-left: 40px;
                padding-right: 40px;

            > div:nth-child(even)
                background-color:#FAFAFA