.custom-intake-request-success
    padding-top: 15rem
    text-align: center
    .intake-success-layot
        .v-form-container
            .intake-secondary-header
                font-weight: normal
        .intake-success-button
            padding-top: 5rem !important
 

            