.custom-intake-request-container
    margin:inherit
    .intake-request-header
      font-size: 24px
      margin-left: 0px
    .layout
      height :unset 
      .flex
        .intake-header
          font-weight: bold
          font-size:18px
          width:20vw
          padding-left: 2%