.question
    font-weight:bold
.answer
    font-size:14px
    .theme--light.v-icon
        color:#AFAFAF
    label.v-label.theme--light
        color:black
        font-size: 14px;        
        
.v-input--radio-group--row
    .v-radio
        display: grid;
        min-width:90px
        .v-input .v-label 
            line-height: 28px;
    .answer.theme--light:first-child
        margin:auto;

    .v-input--selection-controls__input
        margin:auto;
        
    label.v-label.theme--light
        margin:auto;
