.pa-0
    .elevation-0
        .intake-table-approve-btn
            font-size: 10px;
            width: 60px;
            height: 30px;
            font-weight: 600;
            padding: 0 5px;
.approved-label
    font-weight: 600;
    text-transform: uppercase;
    color: var(--v-approved-base)
.high-level
    font-weight:bold !important;
    color:red !important;
.medium-level
    font-weight:bold !important;
    color:yellow !important;
.low-level
    font-weight:bold !important;
    color:black !important;
.v-dialog
    .v-card
        .v-model-close-icon
            margin-left: 98%
            padding-top:8px