.question
    font-weight:bold
.answer
    font-size:14px
    .theme--light.v-icon
        color:#AFAFAF
    label.v-label.theme--light
        color:black
        font-size: 14px;
.v-input--radio-group--row
    .v-radio
        display: grid;
        .v-input .v-label 
            line-height: 28px;