.intake-form
  .back-link:before
    background: none!important;  
  .v-stepper__step.stepper-color .v-stepper__step__step
    background-color:#003366 !important;
  .theme--light.v-stepper .stepper-color .v-stepper__label
    color: rgba(0,0,0,0.87);
  .v-stepper__wrapper
    .mb-12.v-card.v-sheet.theme--light.grey.lighten-1
        height: auto  !important;
        background-color: transparent !important;
  width:100%
  .intake-form-header-div
    margin-top:15px;
  .intake-form-header
    font-size: 24px
    margin-left: 44%
.intake-sub-header
  margin-top: 16px !important;
  margin-bottom: 16px !important;
  margin-left:37%
.v-stepper
 box-shadow: none !important;
.v-stepper__header
  width: 752px;
  box-shadow: none;
  margin: auto;
  .first-divider
    margin:34px -21px 0px -79px !important;
    align-self: flex-start !important;
    border-color: #003366 !important;
  .second-divider
    margin: 38px -77px 0px -114px !important;
    align-self: flex-start !important;
    border-color: #003366 !important;

.v-stepper__step.v-stepper__step--inactive .v-stepper__step__step
  background-color: #9E9E9E !important;
.v-stepper__step.v-stepper__step--complete .v-stepper__step__step .material-icons
  font-family: Nunito sans-serif;
  font-size: 13px;
.v-stepper__step.v-stepper__step--active + hr,.v-stepper__step.v-stepper__step--complete + hr, .v-stepper__step.stepper-color + hr
  border-width:3px !important;
  hr
    disply:none;
.v-stepper__label
    text-align: center;
.v-card__text
    margin-top:0px;
.v-form
    background:white;
.v-card
    box-shadow:none !important;
    