  .v-toolbar__content
            padding:5px
      .v-toolbar__title:not(:first-child)
            margin-left:0px
      .v-card__text
            margin-top:5px
.intake-dialog .v-card  .clear-margin
            margin-bottom:0px !important
.intake-dialog .v-card .v-card__text
      div
            margin: 10px
@media screen and (max-width: 564px)
    .intake-dialog
            padding-bottom:0px !important
    