.add-expense
    .layout.list-header.row.wrap
        height: 32px;
        font-weight:bold !important;
    .v-form-container
        padding: none;
    .container.grid-list-xl .layout .flex
        padding: none !important;
        padding-top: 0px;
    .v-form .container .layout .flex .v-card
        margin-bottom: 0px;
        padding-top: 0px;
    .v-text-field
        padding-top: 0px;
        margin-top: 0px;
    .flex.md3 
        margin-left: 20px !important;
        margin-right: 20px !important;

    .expense-records
        margin-bottom: -9px !important;
        .flex.md2
            text-align: right;
        .flex.md4
            margin-right: -40px;
        .v-icon
            color: #65799d !important;
            font-size: 21px;
            padding-top:10px;
        div           
            padding: 0 0 !important;
            
        .md1
            padding-top: 18px !important;

