.v-dialog
    margin-top: 23vh !important;    
    .v-card
        .v-card__title
            padding-left: 28%
        .v-card__text
            padding: 0px 16px
            .container.grid-list-md
                padding-bottom: 0px;
        .v-card__actions
            padding: 8px 38px;
            margin-bottom: 15px;
            .add-new-row
                margin-right: 2vw
                margin-left: 2vw
                .v-progress-circular
                    top:0
                    color:rgba(0,0,0,.26)
            .hours-err-msg
                color: #d20e00;
                font-size: 13px;
                font-weight: 600;
    .time-log-info
        .v-expansion-panel__header
            padding: 10px;
        .time-log-total
            font-weight: 600;
        .time-log-card-row
            padding: 10px 8px;
            border-bottom: 1px solid #bbb;
            .time-log-card-hrs
                font-weight: 600;

@media screen and (max-width: 567px)
    .new-time-record
        margin-top: 37vh !important;
        padding-bottom: 7vw !important;
    .new-time-record .v-card .v-card__title
        padding-left: 24px;