.v-toolbar--fixed
    z-index:200;
.v-dialog.add-time-record
    max-width: 1024px;
    border-radius: 9px;   
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    background-color:white;
    .week-change-control
        .layout.column
            width: 100%;
            margin-top: 15px;
            margin-left: -38px; 
    .v-input--radio-group--row .v-radio
        min-width: auto;
        label
            padding-left:3px;
    .v-input--radio-group--row .v-radio:last-child
        margin-right:0px;
    .batch-entry       
        thead 
            border-color:transparent;
            border:none;
        .v-input__slot
            padding: 0 0px;
        tbody tr:first-child
            height: 82px;
        tbody tr, thead tr:first-child
            border-top:none;
            border-bottom: none !important;
            td:first-child, th:first-child
                padding-left:0px;
    .v-sheet
        width:100%;
        height: initial;
    // margin-top: 151px !important;    
  
    .btn-normal
        background-color: white;
        border-color: var(--v-primary-base) !important;
        border: 1px solid !important;
        color: var(--v-primary-base) !important;
        margin-left: 0vw;    
        margin-right: .5vw
        background-color: white !important;
    .v-window__container
        padding-left: 47px;
        padding-right: 20px;  
    .v-card
        height:100%;
        .card-contents
            margin-top: 20px;
            min-height: 676px;
            padding: 0px 0px !important;
            .v-window
                background-color:white;
                width: 100% !important;
                height: 100% !important;
                .v-radio
                    display: flex;
                .v-input.v-text-field.v-select
                   width: 95%;
                .date-picker-container
                    margin:0 0 !important;
        .v-tabs
        .v-tabs__wrapper
            height: 75px
            .v-tabs__slider-wrapper
                display none !important
            .v-tabs__container
                height : 35px
                margin: 20px;
                margin-left: 44px;
                .v-tabs__item--active
                    position: static
                    background-color: #57789A;
                    color: white
                .v-tabs__div
                    :first-child
                        border-radius: 2px 0px 0px 2px;
                    :last-child
                        border-radius: 0px 2px 2px 0px;
                    text-transform: none !important
                    border: 1px solid #E2E2E2
                    box-shadow: 0px 2px 2px #e2e2e26e
                    font-weight: 700
                    color: black;
                    .v-tabs__item
                        font-size: 14px
        
        .v-card__title
            padding-left: 10% !important
            .headline
                font-weight: 500
                margin-top: 19px;
        .cardheadlabel1
            .currentuser
                padding-top: 25px;
                margin-right: 8%;
            padding-left: 20%
            .headerinfo
                padding-top: 8%;
                color: grey;
                width:100%;
                text-align: right;
                padding-right: 15px;
        .cardheadlabel2
            padding-left: 25%
            color: gray;
            margin-top: -9px;
            font-size: 12px;
        .header-divider
            margin-top: 14px;
        .v-card__text           
            padding: 0px 16px
            .container.grid-list-md
                padding-bottom: 0px;
            
        .v-card__actions
            padding: 8px 38px;
            margin-bottom: 15px;
            .add-btns
                text-align: right;
                padding-top: 26px;
                margin-left: 9px;
                margin-right: -5px;
            .add-new-row
                margin-right: .5vw;
                margin-left: .5vw;    
            .btn-discard,.btn-discard:focus:before,.btn-discard:before              
                background: none!important;
                border: none;
                padding: 0!important;
                font-family: arial, sans-serif;
                color: grey;
                cursor: pointer;
                box-shadow: none !important;
                float: right;
                margin-top: 42px;;
            
            .hours-err-msg
                color: #d20e00;
                font-size: 13px;
                font-weight: 600;
    .time-log-info
        .v-expansion-panel__header
            padding: 10px;
        .time-log-total
            font-weight: 600;
        .time-log-card-row
            padding: 10px 8px;
            border-bottom: 1px solid #bbb;
            .time-log-card-hrs
                font-weight: 600;

@media screen and (max-width: 567px)
    .add-time-record
        margin-top: 37vh !important;
        padding-bottom: 7vw !important;
    .add-time-record .v-card .v-card__title
        padding-left: 24px;

@media screen and (min-width: 960px)
    .flex.md6 
        max-width: 100%;