.v-navigation-drawer
    .drawer-main
        padding: 2rem;
        .sub-header-large
            padding-top: 1vh
            padding-bottom: 1vh
            padding-left: 0
        .drawer-close-icon
            margin-left:70%
    .drawer-buttons
        margin-left:50%
.navigation-drawer-scroll
    padding-bottom: 70px;