.timesheet-entry
    .v-form-container
        padding: none;
    .container.grid-list-xl .layout .flex
        padding: none !important;
    .v-form .container .layout .flex .v-card
        margin-bottom: 0px;
        padding-top: 0px;
    .v-text-field
        padding-top: 0px;
        margin-top: 0px;
    .time-records
        div
            width:95%;
            padding: 0 0 !important;
        .md1
            padding-top: 18px !important;
