.custom-timesheets-container
  margin:inherit 
  .timesheet-header
    font-size: 24px
    margin-left: 0px
  .v-input--radio-group
    margin-top: 4px;
  .layout
    height :unset !important
  .v-input--radio-group--row .v-radio
    display: flex;


    