  $black = black
  $primary = #003366
  $secondary = #424242
  $tertiary = #F0D299
  $quaternary = #65799D
  $accent = #82B1FF
  $error = #FF5252
  $info = #2196F3
  $success = #648C47
  $warning = #FFC107